body {
    background-color: rgb(43, 43, 43);
    /* background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnBzYmRpYXlpcDAxMTFzOXN3cmtzMnM3dWt4MWQ5czRubHM5ODZkOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/9LZSXRm9wmkgWEiA5K/giphy.gif'); */
    background-size: 225px;
    background-repeat: repeat;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

#right-side {
    margin-left: auto;
}

.icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
    filter: drop-shadow(0 0 5px #ff4a6d);
}

#amount {
    font-size: 30px;
    color: #ff4a6d;
}

.logo {
    height: 300px;
    width: auto;
    /* opacity: 0.9; */
    /* filter: drop-shadow(0 0 10px #ff4a6d); */
}

#sneaker-list {
    display: flex;
    justify-content: center;
    gap: 0.8vw;
}

#sneaker-list a {
    text-decoration: none;
    color: #ff4a6d;
    font-size: 24px;
    transition: color 0.3s;
}

#sneaker-list img:hover {
    text-decoration: underline;
    color: #ffecb8;
}

#detail-image {
    /* height: auto; */
    margin: 7px;
    filter: drop-shadow(0 0 1em #ff4a6d);
    border: 2px solid #ffecb8;
    border-radius: 10px;
    /* max-width: 600px; */
    height: 650px;
    width: auto;
    object-fit: cover;
    margin-left: 50px;
}

#sneaker-display-categories > div {
    width: 60%;
    margin-left: 20px;
}

#sneaker-comments > div {
    width: 70%;
    margin-left: 20px;
}

#sneaker-display-categories p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
    /*padding-left: 120px;*/
    padding-right: 100px;
}

#sneaker-display-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#sneaker-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#comments {
    margin-top: 20px;
    padding: 20px;
    /* background: #444; */
    border-radius: 10px;
}

.comment {
    background: #555;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comment p {
    font-size: 16px;
    line-height: 1.3;
}

form {
    width: 250px;
    margin-top: 15%;
}

button {
    border: 0;
    width: 100%;
    color: #fff;
    background: #ff4a6d;
    padding: 10px;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #ffecb8;
    color: #2d2d2d;
}

input[type="text"] {
    display: block;
    border: 0;
    width: 100%;
    color: #2d2d2d;
    background: #ffecb8;
    padding: 10px;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    margin-top: 10px;
}

input[type="submit"] {
    display: block;
    border: 0;
    width: 100%;
    color: #fff;
    background: #ff4a6d;
    padding: 10px;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #ffecb8;
    color: #2d2d2d;
}

nav img {
    /* height: auto;
    max-width: 6%; */
    max-height: 80px;
    object-fit: contain;
    border-radius: 10px;
}

/* #detail-image {
    max-width: 600px;
    height: auto;
    padding-left: 80px;
} */

#details {
    text-align: left;
    padding-left: 80px;
}

/* .logo {
    height: 300px;
    width: auto;
} */

#top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sneaker-list img {
    border: 2px solid #ff4a6d;
}

#name {
    text-align: center;
    padding-right: 10%;
    font-size: xx-large;
}

#detail-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.inputs {
    text-align: end;
    padding-right: 100px;
}

.comment-1 {
    background: #555;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comment-1 p {
    font-size: 16px;
    line-height: 1.3;
}

.comment-2 {
    background: #555;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comment-2 p {
    font-size: 16px;
    line-height: 1.3;
}

#top {
    background-image: url('https://www.wallpaperkiss.com/wimg/b/145-1454163_big.jpg');
    background-blend-mode: darken;
    background-color: rgba(43,43,43,0.65);
    /* border: 2px solid #ffecb8; */
    /* border-radius: 15px; */
    /* filter: drop-shadow(0 0 1em #ff4a6d); */
}
#comments-grid {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 10%;
}

#comments h2 {
    text-align: center;
    font-size: xx-large;
}

#comment-form-div {
    background: #444;
    height: 293px;
    text-align: -webkit-center;
    border-radius: 10px;
}

#comment-elements {
    /* background: #444; */
    text-align: center;
}

#comment-form label {
    font-size: x-large;
}

#comment-elements p {
    font-size: x-large;
}

#comment-elements button {
    font-size: large;
}

#detail-categories {
    font-size: larger;
}

#detail-inputs {
    font-size: larger;
}